<div class="container mt-5">
  <h1>Edit homework</h1>

  <%= render "form", homework: @homework %>

  <hr>
  <%= link_to homeworks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
